# Task 4.8 Grouping Data & Aggregating Variables

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/ColinLynt/11-2021 Instacart Basket Analysis'

In [3]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
# Setting max limit
df = ords_prods_merged[:1000000]

In [5]:
# Fixing Max values
ords_prods_merged.loc[ords_prods_merged['prices'] >100, 'prices'] = np.nan

### Question 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [6]:
# Aggregating function
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457687
2.0              17.277920
3.0              17.179756
4.0              17.811403
5.0              15.213779
6.0              16.439806
7.0              17.225773
8.0              15.340520
9.0              15.895474
10.0             20.197148
11.0             16.170828
12.0             15.887622
13.0             16.583304
14.0             16.757377
15.0             16.165037
16.0             17.663250
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

### Question 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

In [7]:
# Aggregating function
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.792127
2.0              17.091743
3.0              17.924454
4.0              17.889751
5.0              15.211405
6.0              15.377526
7.0              17.699196
8.0              16.485269
9.0              15.964600
10.0             20.091818
11.0             16.484907
12.0             15.612533
13.0             16.483391
14.0             17.496504
15.0             15.689232
16.0             18.003698
17.0             16.155822
18.0             19.606536
19.0             17.626234
20.0             17.136153
21.0             21.996844

#### ANSWER: The means are relatively close in value, with some differing over others. Some values from the entire database are much higher than those from the limited DB, while others are smaller in value. The reason for them being so close in value is due to the average values we're looking opposed to the values of min or max values.

### Question 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [8]:
# Creating a max order column
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
# Preforming loc function for Loyal customer
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [10]:
# Preforming loc function for Regular customer
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [11]:
# Preforming loc function for New customer
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
# Executing function
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15892126
Loyal customer      10294330
New customer         6249785
Name: loyalty_flag, dtype: int64

### Question 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [13]:
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.778434  1.0  25.0
New customer      7.805661  1.0  25.0
Regular customer  7.802976  1.0  25.0

### Question 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

#### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

#### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [14]:
ords_prods_merged.groupby('user_id').agg({'prices': ['mean', 'min', 'max']}).head(5)

           prices
             mean  min   max
user_id
1        6.367797  1.0  14.0
2        7.515897  1.3  14.8
3        8.197727  1.3  14.4
4        8.205556  1.4  14.6
5        9.189189  3.2  14.8

In [15]:
# Creating a spending column
ords_prods_merged['spending'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
# Preforming loc function for Low Spender
ords_prods_merged.loc[ords_prods_merged['spending'] < 10, 'spending_flag'] = 'Low Spender'

In [17]:
# Preforming loc function for High Spender
ords_prods_merged.loc[ords_prods_merged['spending'] >= 10, 'spending_flag'] = 'High Spender'

In [18]:
# Executing function
ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low Spender     32315530
High Spender      120711
Name: spending_flag, dtype: int64

In [19]:
# Indexing the spending column's
ords_prods_merged[['user_id', 'spending_flag', 'spending']].head(10)

   user_id spending_flag  spending
0        1   Low Spender  6.367797
1        1   Low Spender  6.367797
2        1   Low Spender  6.367797
3        1   Low Spender  6.367797
4        1   Low Spender  6.367797
5        1   Low Spender  6.367797
6        1   Low Spender  6.367797
7        1   Low Spender  6.367797
8        1   Low Spender  6.367797
9        1   Low Spender  6.367797

### Question 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

#### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

#### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

#### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [20]:
# Creating a frequency column 
ords_prods_merged['frequency'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
# Preforming loc function for Non-frequent customer
ords_prods_merged.loc[ords_prods_merged['frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [22]:
# Preforming loc function for Regular customer
ords_prods_merged.loc[(ords_prods_merged['frequency'] <= 20) & (ords_prods_merged['frequency'] > 10), 'frequency_flag'] = 'Regular customer'

In [23]:
# Preforming loc function for frequent customer
ords_prods_merged.loc[ords_prods_merged['frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [24]:
# Executing function
ords_prods_merged['frequency_flag'].value_counts(dropna = False)

Frequent customer        21578719
Regular customer          7217556
Non-frequent customer     3639966
Name: frequency_flag, dtype: int64

In [25]:
# Indexing the frequency column's
ords_prods_merged[['user_id', 'frequency', 'frequency_flag']].head(10)

   user_id  frequency         frequency_flag
0        1       20.5  Non-frequent customer
1        1       20.5  Non-frequent customer
2        1       20.5  Non-frequent customer
3        1       20.5  Non-frequent customer
4        1       20.5  Non-frequent customer
5        1       20.5  Non-frequent customer
6        1       20.5  Non-frequent customer
7        1       20.5  Non-frequent customer
8        1       20.5  Non-frequent customer
9        1       20.5  Non-frequent customer

### Question 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [26]:
# Export data to pkl
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_revised_2.pkl'))